@import "./varibles.scss";
.btn-block {
  width: 100%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:after {
  content:"";
  display: block;
  clear:both;
}
.red {
  color: $strong;
}
.db {
  display: block;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-center {
  text-align: center;
}
// @media screen and (min-width: 1140px) {
//   body {
//     width: 1140px;
//     overflow: hidden;
//   }
// }