@import "./varibles.scss";
// 登录页和mainIndex布局
.main-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  overflow-x: hidden;
  .main-wrapper {
    width: 100%;
    height: 100vh;
    .main-logo {
      padding: 60px 0 40px 180px;
      color: #fff;
      font-size: 18px;
      img {
        width: 220px;
        height: 45px;
      }
      span {
        padding: 10px 30px 18px;
        margin-left: 30px;
        font-weight: 400;
        border-left: 1px solid #50678e;
        color: #e4e4e4;
      }
    }
    .main-slogan {
      text-align: center;
      font-size: 16px;
      color: #a9c9ee;
      padding-bottom: 35px;
      margin-top: 15px;
      h2 {
        color: #fff;
        font-weight: 500;
        padding-bottom: 10px;
        font-size: 28px;
        line-height: 50px;
        margin: 0;
        span {
          padding: 0 10px;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}
// 菜单
.el-menu {
  border-right: none !important;
  background-color: $blue2;
  .el-submenu {
    background-color: $blue2;
    .el-submenu__title {
      color: #f6f6f6;
      border-right: none;
      &:hover, &:focus {
        background-color: $blue3;
        color: #f6f6f6;
      }
      .iconfont, i {
        color: #f6f6f6;
      }
    }
    .el-menu {
      background-color: $blue2;
      .el-menu-item {
        color: #f6f6f6;
        &:hover, &:focus {
          background-color: $blue3;
          color: #f6f6f6;
        }
        .iconfont, i {
          color: #f6f6f6;
        }
      }
    }
  }
  .is-active {
    background-color: #347ec9;
  }
}

.main-content {
  &.mini-show {
    .el-tabs__header {
      left: $navMiniWidth;
    }
  }
  .el-tabs__header {
    position: fixed;
    padding: 0 0px 0 0px;
    top: $headerHeight;
    left: $navWidth;
    right: 0;
    z-index: 100;
    background-color: $grey;
    .is-active {
      background-color: #fff;
      color: #8391a5;
    }
  }
}

.main-nav::-webkit-scrollbar-track {/*滚动条里面轨道*/
  border-radius: 10px;
  background: $blue2;
}
.headerLayout .el-form--inline .el-form-item {
  margin-bottom: 10px;
}

.max-height {
  overflow: auto;
  min-height: 150px;
  max-height: 300px;
}

// 高级搜索
.is-more i {
  margin-left: -5px;
}
