// 错误信息颜色 红色
$error: #f56c6c;

// 强调 红色
$strong: #f56c6c;

// 蓝色 1最深 逐渐递减
$blue1: #182a51;
$blue2: #1a3b66;
$blue3: #255696;
$blue4: #347ec8;
$blue5: #347ec8;
$blue6: #6797c7;

// tab背景色
$grey: #e4e7ed;

// main-content 背景色
$mainContentColor: #f1f4f5;

// 菜单的宽度
$navWidth: 200px;
$navSmallWidth: 55px;

// 头部的高度
$headerHeight: 55px;